
 h2 {
    font-size: 3rem;
    letter-spacing: 4px;
    color: crimson;
  }
  h3 {
    color: #e3e7b8;
    font-size: 1.4rem;
  }
  p{
    font-size: 1.2rem;
    color:#e3e7b8;
  }
  a{
    text-decoration: none;
    font-size: 1.2rem;
  }
  .aparece {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s ease-out;
  }
  .aparece.visible {
    opacity: 1;
    transform: translateY(0);
  }
  @media (max-width: 768px){
    h2 {
    font-size: 2rem;
    letter-spacing: 3px;
    color: crimson;
  }

  }