
 h2 {
    font-size: 2.3rem;
    color: crimson;
  }
  h3 {
    color: #e3e7b8;
    font-size: 1.4rem;
  }
  p{
    font-size: 1.2rem;
    color:#e3e7b8;
  }
  .aparece {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s ease-out;
  }
  .aparece.visible {
    opacity: 1;
    transform: translateY(0);
  }