---
---

    <div class="about">
      
      <div class="text">
        <h2>Sobre mí</h2>
        <p>
          Mi nombre es Marina López, egresada de la Tecnicatura en Programación
          de la Universidad Tecnológica Nacional. Soy desarrolladora Full Stack
          con una sólida base en programación y desarrollo de aplicaciones.
        </p>
        <p>
          A lo largo de mi trayectoria académica y profesional, he trabajado con
          diversos lenguajes de programación, entre ellos C, C++, Java y PHP. No
          obstante, mi principal especialización se encuentra en C#, con el cual
          he desarrollado proyectos de alcance profesional orientados a la
          resolución de necesidades reales y a la creación de soluciones
          eficientes.
        </p>
        <p>
          De manera complementaria, he profundizado en el desarrollo web
          utilizando tecnologías como HTML, CSS, JavaScript, React y Astro,
          además de contar con experiencia en el manejo de bases de datos como
          SQL Server y MySQL.
        </p>
        <p>
          Actualmente, me encuentro enfocada en seguir fortaleciendo mis
          habilidades técnicas y en integrarme a proyectos que me permitan
          aportar valor, combinando conocimientos, dedicación y una constante
          búsqueda de aprendizaje y mejora profesional.
        </p>
      </div>
      <div class="imagen">
        <img src="/src/images/Foto1.png" alt="mi foto" />
      </div>
    </div>

<style>
  h2 {
    font-size: 32px;
    color: crimson;

  }
  p{
    font-size: 1.2rem;
    color: #f3ecec;
  }
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 16px;
    height: 100%;
    padding: 70px 10px 10px 10px;
    text-align: center;
    overflow: hidden; 
  }
  .text{
    margin: 10px;
    padding: 10px;
    width: 60%;
    height: 80%;
    text-align: start;
    transform: translateX(1500px);
    animation: irIzquierda 2s ease forwards;
  }
  .imagen{
    background-color: 
    #f3ecec0e;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    transform: translateX(-500px);
    animation: irDerecha 2s ease forwards;
  }

@keyframes irDerecha {
  100%{
    transform: translateX(0);
  }
}
  @keyframes irIzquierda {
  100%{
    transform: translateX(0);
  }
}


 @media (max-width: 768px) {
  .about{
    flex-direction: column;
   
  }
.text{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    
  }

  
 }
</style>
