---
import Habilidad from "../components/Habilidad.astro";

interface HabilidadType {
  href:string
  name: string;
}

interface Props {
  habilidades?: HabilidadType[];
}
const {habilidades = [] } = Astro.props;
---
<script src="/src/scripts/app.js"></script>

<div class="habil aparece">

 {habilidades.map((h) => <Habilidad href={h.href} name={h.name}/>)}

</div>

<style>
  .habil{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
  }
  .aparece {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s ease-out;
  }

  .aparece.visible {
    opacity: 1;
    transform: translateY(0);
  }
</style>