---
import Habilidad from "../components/Habilidad.astro";

interface HabilidadType {
  href:string
  name: string;
}

interface Props {
  habilidades?: HabilidadType[];
}
const {habilidades = [] } = Astro.props;
---


<div class="habil">

 {habilidades.map((h) => <Habilidad href={h.href} name={h.name}/>)}

</div>

<style>
  .habil{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
     
    gap:20px;
  }
  
</style>