---
interface Props {
    href:string;
    name:string
}
const {href, name} = Astro.props;
---
<script src="/src/scripts/app.js"></script>
<div class="hab aparece">
    <img src={href} alt={name}/>
    <p>{name}</p>
</div>

<style>
    .hab{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 150px;
        padding: 10px;
        border-radius: 10px;
        border-left: 2px solid #14dcb4;
        background-color: rgba(145, 131, 168, 0.123);

    }
    .hab img{
        width: 100px;
        height: 100px;
    }
</style>