---
interface Props {
  name: string;
}
const {name} = Astro.props;
---

<div class="leng">
  <div>{name}</div>
</div>
<style>
  .leng {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3d3b3c;
    border-radius: 10px;
    padding: 8px;
    max-width: 150px;
    height: 13px;
    background-color: rgba(21, 6, 56, 0.397);
    color: rgb(182, 172, 173);
    font-size: 14px;
    gap: 8px;
  }
  .leng:hover {
    scale: 1.1;
  }
  @media (max-width: 768px) {
    .leng{
      font-size: 10px;
    }
  }
</style>
