---
import "@fontsource/ubuntu-mono";
---

<nav>
  <!-- MENU DESKTOP -->
  <div class="menu-desktop">
    <a href="#inicio">Inicio</a>
    <a href="#about">Sobre mi</a>
    <a href="#habilidades">Habilidades</a>
    <a href="#proyect">Proyectos</a>
    <a href="#contact">Contactame</a>
  </div>

  <div class="menu-toggle" id="menu-toggle">☰</div>

  <div class="menu-mobile" id="menu-mobile">
    <a href="#inicio">Inicio</a>
    <a href="#about">Sobre mi</a>
    <a href="#habilidades">Habilidades</a>
    <a href="#proyect">Proyectos</a>
    <a href="#contactame">Contactame</a>
  </div>
</nav>

<style>
  nav {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 70px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.178);
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
  }
  .logoI {
    width: 65px;
    height: 65px;
    padding: 5px;
  }
  .menu-desktop {
    display: flex;
    justify-content: space-around;
    width: 90%;
  }

  .menu-mobile a,
  .menu-desktop a {
    text-decoration: none;
    font-family: "Outfit Variable", sans-serif;
    font-size: 1.4rem;
    margin: 10px;
    color: #e3e7b8;
    letter-spacing: 1.5px;
  }
  .menu-desktop a:hover,
  .menu-mobile a:hover {
    color: crimson;
    transform: scale(1.2);
  }
  .menu-toggle {
    display: none;
    font-size: 3rem;
    cursor: pointer;
    color: #14dcb4;
  }

  /* MENÚ MOBILE: oculto por defecto */
  .menu-mobile {
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    position: absolute;
    top: 70px;
    right: 0;
    background: hsla(250, 91%, 9%, 0.877);
    width: 100%;
    height: 80vh;
    padding: 20px;
    border-left: 2px solid #14dcb4;
    border-bottom: 2px solid #14dcb4;
  }

  @media screen and (max-width: 768px) {
    .menu-desktop {
      display: none;
    }
    .menu-toggle {
      display: block;
    }
  }
</style>
<script is:client:true;>
  const toggle = document.getElementById("menu-toggle");
  const menu = document.getElementById("menu-mobile");
  const links = menu?.querySelectorAll("a");

  if (toggle && menu) {
    toggle.addEventListener("click", () => {
      menu.style.display = menu.style.display === "flex" ? "none" : "flex";
    });
  }

  if (links) {
    links.forEach((link) => {
      link.addEventListener("click", () => {
        menu.style.display = "none";
      });
    });
  }
</script>
