---
import Lenguaje from "../components/Lenguaje.astro";
import CardProyect from "../components/CardProyect.astro";
---

<script src="/src/scripts/app.js"></script>
<section id="proyect" >
  <h2>Proyectos</h2>
  <div class="card-pro" class="aparece">
    <CardProyect
      href="/images/web1.png"
      titulo="App Web MVC"
      descripcion="Web de Remates MVC con C#"
      lenguajes={[
        { name: ".Net" },
        { name: "C#" },
        { name: "SQL Server" },
        { name: "HTML" },
        { name: "CSS" },
      ]}
    />
    <CardProyect
      href="/images/api3.png"
      titulo="Api Rest"
      descripcion="Api , backend App Remates"
      lenguajes={[
        { name: ".Net" },
        { name: "C#" },
        { name: "JWT" },
        { name: "SQL Server" },
        { name: "Swagger" },
      ]}
    />
    <CardProyect
      href="/images/web-php1.png"
      titulo="App Web PHP"
      descripcion="App Web Tienda online en PHP"
      lenguajes={[
        { name: "Laravel" },
        { name: "PHP" },
        { name: "MySQL" },
        { name: "HTML" },
        { name: "CSS" },
      ]}
    />
    <CardProyect
      href="/images/web-gla2.png"
      titulo="Web React"
      descripcion="Pagina Web Glamping en Reacr"
      lenguajes={[
        { name: "Vite" },
        { name: "React" },
        { name: "HTML" },
        { name: "CSS" },
        { name: "JavaScript" },
      ]}
    />
    <CardProyect
      href="/images/porfoliohtml.png"
      titulo="Porfolio html"
      descripcion="Porfolio realizado en HTML,CSS y JavaScrip"
      lenguajes={[
       { name: "HTML" },
        { name: "CSS" },
        { name: "JavaScript" },
      ]}
    />
   <CardProyect
      href="/images/web-reclamos.png"
      titulo="Api rest"
      descripcion="Api, backend Reclamos"
      lenguajes={[
       { name: ".Net" },
        { name: "C#" },
        { name: "JWT" },
        { name: "SQL Server" },
        { name: "Swagger" },
      ]}
    />

    <CardProyect
      href="/images/apiReclamoV.png"
      titulo="Api rest"
      descripcion="Api, backend Reclamos"
      lenguajes={[
       { name: ".Net" },
        { name: "C#" },
        { name: "JWT" },
        { name: "SQL Server" },
        { name: "Swagger" },
      ]}
    />
  </div>
</section>

<style>
  #proyect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 60px;
  }
  h2 {
    font-size: 2.5rem;
    color: crimson;
  }
  .card-pro {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .aparece {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s ease-out;
  }

  .aparece.visible {
    opacity: 1;
    transform: translateY(0);
  }
</style>
