---
import Layout from "../layouts/Layout.astro"
---
<Layout>

<div id="container">

    <h1>Marina López</h1>
     <h2>Desarrolladora fullstack</h2>
    <div class="activar">
      
      <div class="avatar">
        <img src="/src/images/yo300.svg" alt="mi imagen" />
      </div>
      
    </div>
</div>
</Layout>

<style>
 
  #container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    height: 90vh;
  }

 h1{
  font-size: 42px;
  font-weight:800;
  color: #aa2bb6;
  padding: 5px;
  margin: 0;
  letter-spacing: 5px;
 }
 h2{
  font-size: 32px;
  font-weight:600;
  color: #7c76cc;
  margin: 0;
  padding: 5px;
  margin-bottom: 10px;
 }
  .activar {
    position: relative;
    width: 600px;
    height: 300px;
    background: linear-gradient(#4c84d9, #7c76cc);
    border: 6px solid #f5cee7;
    border-radius: 170px;
  }
  .avatar {
    position: absolute;
    width: 280px;
    height: 280px;
    border: 6px solid #f5cee7;
    border-radius: 50%;
    background: linear-gradient(#f041ff 20%, #0a0a0a);
    overflow: hidden;
    display: flex;
    top: 5px;
    left: 5px;
  }

  @media screen and (max-width: 768px) {
    
  }
</style>