---
import NavBar from "../components/NavBar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Porfolio Astro</title>
  </head>

  <body>
    <NavBar/>
    <main>
      <slot />
    </main>
    <footer>
      <div>
        <p>© 2025 Marina Natalia López. Hecho con ❤️ y código.</p>
      </div>
      <div>
        <a href="https://www.linkedin.com/in/marina-lopez-a257b9319" rel="noopener noreferrer" target="_blank" aria-label="Enlace a linkedin de Marina López">
          <img src="/images/linkedin.png" />
        </a>
        <a href="https://github.com/MarinaProg1" rel="noopener noreferrer" target="_blank" aria-label="Enlace a la repositorio de git Hub">
          <img src="/images/social.png" />
        </a>
        <br />
        <a href="https://www.flaticon.com/free-icons/github" rel="noopener noreferrer" target="_blank" title="github icons" class="hidden">Icons by iconsmind - Flaticon</a
        >
      </div>
    </footer>
  </body>
</html>

<style>
  html,
  body {
    background:#1d1b33;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    overflow-x: hidden; 
  }
  main {
    flex: 1;
    height: 100%;
    max-width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #57556e23;
    padding: 10px;
    width: 100vw;
    height: 150px;
    animation: aparecer 4s ease;
  }
  
   @keyframes aparecer{
    0%{transform:scale(0); opacity:0;}
    100%{transform:scale(1); opacity: 1;}
   }
</style>
